[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
ncclient = "*"
jxmlease = "*"
"jinja2" = "*"
pyyaml = "*"
requests = "*"
junos-eznc = "*"
ipaddress = "*"
textfsm = "*"
jmespath = "*"
requests-mock = "*"
py-metric-collector = {path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
